<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />

{% extends "base.html" %}
{% block content %}
<form action="" method="post">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<div class="register_div">
        {% if form.name.errors %}<p class="error">{{ form.name.errors }}</p>{% endif %}
        <p><label for="name"{% if form.name.errors %} class="error"{% endif %}>Name:</label></p>
        <p>{{ form.name }}</p>
</div>
<div class="register_div">
        {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
        <p><label for="email"{% if form.email.errors %} class="error"{% endif %}>Email:</label></p>
        <p>{{ form.email }}</p>
</div>
<div class="register_div">
        {% if form.password1.errors %}<p class="error">{{ form.password1.errors }}</p>{% endif %}
        <p><label for="password"{% if form.password1.errors %} class="error"{% endif %}>Password:</label></p>
        <p>{{ form.password1 }}</p>
</div>
<div class="register_div">
        {% if form.password2.errors %}<p class="error">{{ form.password2.errors }}</p>{% endif %}
        <p><label for="confirm password"{% if form.password2.errors %} class="error"{% endif %}>confirm Password:</label></p>
        <p>{{ form.password2 }}</p>
</div>

<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LdSucISAAAAADc_huFvVv0fCCEfcVJNvbqeY-TN">


</script> 

<div class="register_div">

   {% if form.captcha.errors %}<p class="error">{{ form.captcha.errors }}</p>{% endif %}
    <p>{{ form.captcha }}</p>
</div>

<p><input type="submit" alt="register" /></p>
</form>
{% endblock %}