{% load comments %}
{% get_comment_list for tager_www.post post.id as comment_list %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>

<div class="article_menu">
	<b>Added on {{ post.add_date|date:"F j, Y" }}</b> 
	<a href="{{ post.get_absolute_url }}#comments">{{ comment_count }} Comment{{ comment_count|pluralize }}</a>
</div>

{% get_comment_list for tager_www.post post.id as comment_list %}

<h2 id="comments">Comments</h2>
{% for comment in comment_list %}
	<div class="comment_{% cycle odd,even %}" id="c{{ comment.id }}">
		<span class="comnum"><a id="c{{ comment.id }}" href="#c{{ comment.id }}">#{{ forloop.counter }}</a></span>
		<p><b>{{ comment.user_name|escape }}</b> commented, on {{ comment.date|date:"F j, Y" }} at {{ comment.date_date|date:"P" }}:</p>
		{{ comment.content|escape|urlizetrunc:40|linebreaks }}
	</div>
{% endfor %}

<h2>Post a comment</h2>
{% render_comment_form for tager_www.post post.id %}