.body{
    background-color: #BFD4D4
}

.wideColumn{
    column-width:250px;
    column-gap:40px;
    -moz-column-width:250px; /* Firefox */
    -webkit-column-width:250px; /* Safari and Chrome */
}
.narrowColumn{
    column-width:100px;
    -moz-column-width:100px; /* Firefox */
    -webkit-column-width:100px; /* Safari and Chrome */
}
div#box1{
    background: #eee;
    /*border: #999 2px solid;*/
/*    width: 200px;
    height: 200px;*/
    /*margin: 20px;*/
    /*display:    -moz-box; /* Firefox */
    /*display:-webkit-box;  Safari and Chrome */
    /*display:box;*/
    /*border:1px solid black;*/
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
div#box1 > img{
/*    position: absolute;
    z-index: 2000;*/

    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    width: 200px;
    max-height: 200px;
}

div#box1 > a{
    display: none;
    position: absolute;
    margin: 0px 0px 0px 60px;
    z-index: 3000;
    background: #F0F0F0;
    border: #81A332 1px solid;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;  
}
div#box1:hover a{
    display: block;
}
div#box2{
    background: #eee;

    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    /*border: #999 2px solbackground: #eee;id;*/
    width: 700px;
    /*height: 200px;*/
    /*margin: 20px;*/
    /*cursor: pointer;*/
}
div#box3{
    background: #eee;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: auto;
    /*height: 200px;*/
    margin: 10px;
    /*cursor: pointer;*/
}
.status{
    width: 200px;}



body {

background: #e3e3e3 url(../../static/img/bg1.png) repeat;

}

 .item {
    width: 220px;
    margin: 10px;
    float: left;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    overflow: hidden;
    background: #eee;
    display: block;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}
#imagediv{
    
border:2px solid #a1a1a1;
padding:10px 40px; 
width:300px;
border-radius:25px;

}
/**/


/*.error{
    
}*/


body {
margin: 0 auto;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
}

.btn img {
    float: left;
}

.item .priceValue {
-webkit-font-smoothing: antialiased;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
font-family: 'Helvetica', sans-serif;
background: #333;
background: rgba(0,0,0,0.6);
border: 2px solid #fff;
border-color: rgba(255,255,255,0.9);
color: #fff;
font-weight: bold;
font-size: 11px;
padding: 4px 8px 3px;
position: absolute;
right: 8px;
top: 8px;
z-index: 10;
}

.item .IntrestedCount {
font-family: 'Helvetica', sans-serif;
font-weight: bold;
line-height: 11px;
padding: 0;
-webkit-font-smoothing: antialiased;
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
color: #a7a7a7;
padding-right: 7px;

}

p.stats {
padding-top: 7px !important;
}
.colorless, .colorless a {
color: #8c7e7e;
}
p {
margin: 0 0 .8em;
line-height: 1.35em;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.LikesCount em {
position: relative;
top: 1px;
left: -2px;
display: inline-block;
width: 10px;
height: 10px;
}
.item .StateLabel {
/*-webkit-font-smoothing: antialiased;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-ms-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;*/
font-family: 'Helvetica', sans-serif;
/*background: #333;
background: rgba(0,0,0,0.6);
border: 2px solid #fff;
border-color: rgba(255,255,255,0.9);
color: #fff;*/
font-weight: bold;
font-size: 12px;
padding: 4px 8px 3px;
position: absolute;
left: 8px;
top: 8px;
z-index: 10;
}

.item .repinLikeWrapper {
visibility: hidden;
}

.item:hover .repinLikeWrapper {
visibility: visible;
}
.thumbnail .ProfileInfo {
visibility: hidden;
}

.profileEdit:hover .repinLikeWrapper {
visibility: visible;
}
#pass
 {
 width: 200px;
 height: 30px;
}
.span10{
    width: 150px;
    margin-left: 200px;
    padding: 10px;
}


.profileHeader {
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(100%, #e5e5e5));
background: -webkit-linear-gradient(#f3f3f3,#e5e5e5);
background: -moz-linear-gradient(#f3f3f3,#e5e5e5);
background: -o-linear-gradient(#f3f3f3,#e5e5e5);
background: linear-gradient(#f3f3f3,#e5e5e5);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.14);
box-shadow: 0 1px 4px rgba(0,0,0,0.14);
overflow: hidden;
background-color: #f3f3f3;
border-left: 1px solid #d4d4d4;
border-left: 1px solid rgba(0,0,0,0.17);
border-top: 1px solid rgba(0,0,0,0.1);
border-right: 1px solid rgba(0,0,0,0.17);
border-left: 1px solid #d4d4d4;
border-bottom: 1px solid rgba(0,0,0,0.2);
clear: both;
color: #333;
position: relative;
overflow: hidden;
display: block;
list-style-type: disc;
border-right: 1px solid #cdcdcd;
color: #333;
line-height: 44px;
-webkit-box-shadow: -1px 0 3px rgba(0,0,0,0.05) inset;
-moz-box-shadow: -1px 0 3px rgba(0,0,0,0.05) inset;
box-shadow: -1px 0 3px rgba(0,0,0,0.05) inset;
}

.commentName {
-webkit-font-smoothing: antialiased;
color: #454545;
font-size: 16px;
}

.commentsMain {
width:auto%;
background: #fff ;
border: 1px solid #eee;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

}
.commentWrapper.right{
margin: 12px 21px;
background: #fff;
border-bottom: 1px solid #e8e8e8;
border-bottom: 1px solid rgba(0,0,0,.1);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
/*width:500px;*/
position:relative;
left:40%;
width:50%;

}
.commentWrapper{
margin: 12px 21px;
background: #fff;
border-bottom: 1px solid #e8e8e8;
border-bottom: 1px solid rgba(0,0,0,.1);
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
/*width:500px;*/
position:relative;
left:5%;
width:50%;


}
.commentLeftHead{
text-align: right !important;

}

.triangle-right {
/*position: relative;*/
padding: 15px;
margin: 1em 0 3em;
color: #fff;
background: #075698;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
background: -moz-linear-gradient(#2e88c4, #075698);
background: -o-linear-gradient(#2e88c4, #075698);
background: linear-gradient(#2e88c4, #075698);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
/*width:50%;*/

/*max-width:60%;*/
/*text-align: right !important;*/

}
.triangle-left {
position: relative;
padding: 15px;
margin: 1em 0 3em;
color: #000;
background: #f3961c;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
background: -moz-linear-gradient(#f9d835, #f3961c);
background: -o-linear-gradient(#f9d835, #f3961c);
background: linear-gradient(#f9d835, #f3961c);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.ribbon {
background-color: #a00;
overflow: hidden;
/* top left corner */
position: absolute;
left: -2em;
top: 0.5em;
/* 45 deg ccw rotation */
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
/* shadow */
-moz-box-shadow: 0 0 1em #888;
-webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
border: 1px solid #faa;
color: #fff;
display: block;
font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
margin: 0.10em 0 0.070em 0;
padding: 0.5em 3.5em;
text-align: center;
text-decoration: none;
/* shadow */
text-shadow: 0 0 0.5em #444;
}
