 .item {
    width: 220px;
    margin: 10px;
    float: left;
}


.mainBody {
margin: 0 auto;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
background: #e3e3e3 url(../img/bg1.png) repeat;
}

.btn img {
    float: left;
}
#pass
 {
 width: 200px;
}