<html>
<head>
<br>
<br>
<br>
</head>

<body>
<!-- sara ismail: this line of code shares a post through twitter on the users account(the first link), and then takes the url of the post to share (the second link) and the user can type in a message with the post (the middle part) -->
<a href="http://twitter.com/home?status=Your%20message%20here:%20http://peaceful-lake-7793.herokuapp.com" target="_blank"><img src="Twitter-icon.png" width="40px" height="40px" alt="tweet this" title="tweet this" onmouseover="this.src='light-Twitter-icon.png'" onmouseout="this.src='Twitter-icon.png'"></a>

<!-- sara ismail: this line of code shares a post through facebook, it takes the app id of our site (app created on fb for us) and the app domain, it's all done through our app on fb-->
<a href="https://www.facebook.com/dialog/feed?app_id=461240817281750&redirect_uri=https://peaceful-lake-7793.herokuapp.com" target="_blank">
	<img src="facebook-icon.png" width="40px" height="40px" alt="share with facebook" title="share this with facebook"
	onmouseover="this.src='light-facebook-icon.png'" onmouseout="this.src='facebook-icon.png'"></a>

</body>

</html>