body{
	background-color: #66ff66;
	padding: 25px;
	border: 25px solid #999999; 

}
div.panel {
	background-color: orange;
	border: 2px solid white;
}
div.social {
	display: inline;
	float: right;
}
div.mailForm {
	text-align: center;
}
#mail {
	color: black;
	font-family: cursive;
	font-size: 20px;
}
#MainPage {
	text-decoration: none;
	color: black;
	margin-left: 10px;
}
#head {
	float: right;
	margin-right: 10px;
}
#home_Button {
	text-decoration: none;
	border: 1px solid black;
	color: black;
	float: right;
	margin-right: -325px;
	font-size: 20px;
}
#profile_pic {
	width: 400px;
	border: 2px solid orange;
	display: inline;
}
#info {
	font-size: 25px;
	font-family: monospace;
	color: red;
	list-style-type: circle;
}
#welcome {
	font-size: 160px;
	color: red;
	text-align: center;
}
#guc {
	vertical-align: middle;
	width: 200px;
	height: 50px;
}
#robusta {
	vertical-align: middle;
	width: 200px;
	height: 100px;
	outline-style: groove;
}
div.personal_info {
	font-size: 25px;
	font-family: monospace;
	list-style-type: circle;
	border-bottom: 3px solid orange;
	color: black;
}

div.educational_info {
	font-size: 25px;
	font-family: monospace;
	color: black;
	list-style-type: circle;
	border-bottom: 3px solid orange;
}

div.work_info {
	font-size: 25px;
	font-family: monospace;
	color: black;
	list-style-type: circle;
	border-bottom: 3px solid orange;
}

div.personal {
	font-size: 25px;
	font-family: monospace;
	color: black;
	list-style-type: circle;
	border-bottom: 3px solid orange;
}