
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div>
<select id="Channel_dropdown">
<option id = "" value ="">please select a channel</option>
{% if list_of_channels %}
{% for channel in list_of_channels%}
<option  value ="{{channel.id}}">{{channel.name}}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div>
<select id = "subChannel_dropdown" >
<option id = "" value ="">please select a subchannel</option>
{% if list_of_subchannels %}
{% for subchannel in list_of_subchannels %}
<option value = "{{subchannel.id}}">{{subchannel.name}}</option>
{% endfor %}
{% endif %}
</select>
</div>
<div>
{% if list_of_attributes %}
<form id="attributes" name = "attribute_form" method "post" action = "/advanced_search/">
{% csrf_token %}
<input type="text" name="sub_ch_id" value = "{{sub_id}}" style = "display:none;">
{% for Attribute in list_of_attributes %}
{{Attribute.name}}: <input type="text" name="{{Attribute.name}}"><br>
{% endfor %}
<button type = "submit" id = "advanced_search">Submit</button>
</form>
{% endif %}

</div>
{% endblock %}
