{% extends "MainBase.html" %}
{% load staticfiles %}
{% block nav %}


<div class="nav-collapse collapse"  style="font-size:18">
    <ul class="nav">
    <ul class="nav pull-right">
        <li><a style="font-size:30; color:#2795F5" href="/notifications"><img src="/static/img/notifications.png" width="25" height="22"
                    ></a></li>
        <li>
            <div style="float:right;margin-left: 170;font-size:30; color:#2795F5">
                <form class="navbar-search pull-left" style="margin-top:10px" action="/search/" method="get" >
                    <input  type="text" class="search-query" style="text-align:center;font-size:15" placeholder="Search"id="id_q" name="q">
                </form>
            </div>
        </li>
        <li><a style="font-size:20;color:#2795F5" href="/advanced_search/channel">Advanced Search</a></li>
        <li ><a  style="margin-left: 195px;font-size:20;color:#2795F5" href="/profile?user_id=6" >Amr Tharwat</a></li>
        <li class="dropdown" style = "float:right">
            <div>
                <a style="margin-top:5px;font-size:20;color:#2795F5" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/static/img/settings-icon.png" width="30" height="30" style="
                    margin-top: 5;
                    "></a>
                <ul class="dropdown-menu">
                    <li><a href="/subscribe">Subscribe</a></li>
                    <li><a href="#" id="editing">Manage and Edit profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
{% endblock %}