{% extends "base2.html" %}
{% load staticfiles %}
{% block nav %}

{% if request.user.is_authenticated %}
 <div class="nav-collapse collapse">
            <ul class="nav">
              <ul class="nav pull-right">
              <li><a href="#" style="margin-top:3px;">Home</a></li>
              <li><a href="#contact" style="margin-top:3px;">Contact</a></li>
              <li><a href="/notifications" style="margin-top:3px;">Notification</a></li>
              <li><a href="advanced_search/channel/" style="margin-top:3px;">Advanced Search</a></li>
              <li>
                <div>
                  <form class="navbar-search pull-left" style="margin-top:13px">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                </div>
              </li>
              <li><a href="/profile?user_id={{user.id}}" style="margin-top:3px; margin-left:260px; float:right">{{request.user.name}}</a></li>

              <li class="dropdown">

         

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="float:inline"><img src="/static/img/settings-icon.png" width="25" height="25"></a>
                <ul class="dropdown-menu">
                  <li><a href="/subscribe">Subscribe</a></li>
                  <li><a href="#" id="editing">Manage and edit profile</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout/">Logout</a></li>
                  
                </ul>
              </li>

              </li>
            </ul>
          </div>
        {% else %}

        <div class="nav-collapse collapse">
            <ul class="nav">
              <ul class="nav pull-right">
              <li><a href="#" style="margin-top:3px;">Home</a></li>
              
              <li><a href="advanced_search/channel/" style="margin-top:3px;margin-left:260px">Advanced Search</a></li>
              <li>
                <div>
                  <form class="navbar-search pull-left" style="margin-top:13px">
                    <input type="text" class="search-query" placeholder="Search">
                  </form>
                </div>
              </li>
              <li><a href="/login/" style="margin-top:3px; margin-left:260px; float:right">login</a></li>

              


              </ul>
            </ul>
          </div>

        {% endif %}

{% endblock %}


 