{% load staticfiles %}

<script type="text/javascript">
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>


<div >
    <center>
    {% if post_list %}
        {% for post in post_list %}
  <div class="item masonry-brick" ><div class="thumbnail" >

   {% if post.picture %} 
      <img style="width: 300px;" src="{% static "img/post.png" %}" alt="{{post.id}}" />
    {% else %}
       <img style="width: 300px;" src="{% static "img/post.png" %}" alt="{{post.id}}" />
    {% endif %}

      <div class="repinLikeWrapper">

        <button type="button" onClick="interested({{post.id}});" class=" btn-inverse btn ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="intrested_btn{{post.id}}" >
        <em></em><span class="accessibilityText"><em><i class="icon-white icon-tags"></i></em></span></button>
        
        <button data-text-unlike="Unlike" data-text-like="Like" type="button" class="btn btn-inverse Button Module likeSmall hasText btn" onclick="location.href='/showpost?post={{post.id}} '">
        <em></em><span class="buttonText"><em><i class="icon-external-link"></i></em></span></button>

      </div>
      

    <span class="priceValue">{{post.price }} EGP</span>
    Posted By: <a href="../profile/?user_id={{post.seller.id}}">{{post.seller.name}}</a> 
    {% if post.state == "New" %}
      <span class="label label-success StateLabel">New</span>  
      {% elif post.state == "Sold" %}
      <span class="label label-success StateLabel">Sold</span> 
      {% endif %}
<a href="/showpost?post={{post.id}}"><h4>{{post.title}}</h4></a>

<p class="stats colorless sysPinOnlyFriendsNeedRemove" style="padding-right:5px;padding-left:5px;">
  <span class="IntrestedCount" title="Likes"><em><i class="icon-bullhorn"></i></em>&nbsp;&nbsp;{{post.intersed_count}}</span> &nbsp;
    <span class="CommentsCount" title="Comments"> <em><i class="icon-comments-alt"></i></em>&nbsp;&nbsp;{{post.comments_count}}</span>&nbsp;&nbsp;&nbsp;
      <span class="QualityIndex" title="Post Quality"><em><i class="icon-bar-chart"></i></em>&nbsp;&nbsp;{{post.quality_index}}%</span>&nbsp;
 </p> 
       <p>
      <small class="text-info"><i class="icon-time"></i> {{ post.pub_date|timesince }}&nbsp;ago</small><br>
      <a href="/showuser?user={{post.user_id}} ">
     <small class="text-info"><i class="icon-user"></i>&nbsp;{{post.get_seller_name}}&nbsp;</small></a>
    </p>
</div>  




</div>



        {% endfor %}
    {% else %}
        <h5> please select some subchannels to view </h5>
    {% endif %}  

</div>