{% extends "base2.html" %}

{% load staticfiles%}
{% block content %}



  <style type="text/css">
  .logo
    {
    text-align:center;
    display:block;
    }
   .h4
   {
   	display: inline-block;
   }
</style>

 <div class = "logo"> 
<img src="{% static "img/tagerlogo.png" %}" width="450px" height="70px" alt="tager">
</div>


      <center><div>
        <div>
        <a href="{% url 'facebook_login' %}" class="zocial facebook">Sign in with Facebook</a>
        </div>
        <p class="h4">already have an account ? <a href="#login" role="button" class="btn" data-toggle="modal">Sign in</a></p> Or 
        
      <a href="../register" role="button" class="btn">Sign up</a>
      <!-- Modal -->
		<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  			</div>
  			<form form action="/logged/" method="POST" id="form" class="kissmetrics-login">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email:</label>
                    <div class="controls">
                        <input type="email" name="email" id="inputEmail" placeholder="Email address" autofocus =""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password:</label>
                    <div class="controls">
                        <input type="password" name="password" id="inputPassword" placeholder="Password"/>
                    </div>
                </div>
                <div class="cf">
                    <div class="left">
                        <input type="submit" class="btn btn-success btn-large" value="Login">
                    </div>
                    <div class="right">
                        <a href="//app.gathercontent.com/forgotten" class="link-option">Forgot your password?</a>
                    <!-- </div> -->
                </div>
            </form>
		</div>
      </div>

{% endblock %}