{% extends "base.html" %}
{% load staticfiles%}

{% block headers %}
    {% include 'jquery_raty_min_js.html' %}
    <link href="{% static "css/filtering.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/priceSlide.css" %}" rel="stylesheet" media="screen">
    <!-- // <script type="text/javascript" src="{% static "js/filteringBar.js" %}"></script> -->
   
{% endblock %}
{% block content %}


<div class="row-fluid">
  <div class="span6">
    <div class="priceRangeInfo">
      <label for="buying_slider_min">Price</label>
      <input type="range" name="buying_slider_min" id="buying_slider_min" class="minBuyingSlider" value="0" min="{{mnimum_price}}" max="{{maximum_price}}" />
      <input type="range" name="buying_slider_max" id="buying_slider_max" class="maxBuyingSlider" value="{{maximum_price}}" min="{{mnimum_price}}" max="{{maximum_price}}" data-track-theme="b"/>

</div>
  </div>
  <div class="span6"> 

    <ul class="nav nav-pills">
    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">Channels
       <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
        
        <div class="accordion" id="accordion2" style="background: #eee;">
                {% for i in all_channels %}
                  <div class="accordion-group">
                    <div class="accordion-heading" >
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channel{{i.channel.id}} " id=" ChannelBar" value="{{i.Channel.id}}">
                        {{i.channel.name}}
                      </a>
                    </div>
                    <div id="channel{{i.channel.id}}" class="accordion-body collapse in">
                      <div class="accordion-inner">
                        {% for subchannel in i.subchannels_list %} 
                        <div id="channel{{i.subchannel.id}}" class="accordion-body collapse in" >
                          <div class="accordion-inner">
                            <p>
                              
                              <input type="checkbox" onChange="posts({{subchannel.subchannel.id}});" value="{{subchannel.subchannel.id}}" checked="checked" id ="subchannel_id" class="refiningSubchannels">  
                                {{subchannel.subchannel.name}} 
                            </p>    
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </ul>
    </li>

    <li class="dropdown">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle">status
       <b class="caret"></b></a>
      <ul class="dropdown-menu" id="menu1">
        <div class="accordion-inner">
          {% for state in states %}
          <p>
            
            <input type="checkbox"  checked="checked" value="{{state}}"  id ="status" class="statusChange"> 

              {{state}}
          </p> 
          {% endfor %}
          
        </div>
      </ul>
    </li>

    </ul>
  </div>
</div>  
    <!-- Reem- As  c3 , (a system) I should be able to provide  a refinement bar along while previwing the posts  
      this is a collapse method from bootstrap that helps in previing the channels and -->

<div id="posts_result" class="container">
    {% for post in post_list %}
      <li id="post_id2"> {{post.title}}</li>
    {% endfor %}
</div>


 <script type="text/javascript">

$(function() 
{
 var refine_list
 var status_list
 var min_price
 var max_price
   $('.refiningSubchannels').on('change', function() 
    {
    var refine_list = new Array();        
        $('.refiningSubchannels:checked').each(function() {
            var tmp = $(this).val();
            refine_list.push(tmp);
            // alert(refine_list.length)
;        });

          var status_list = new Array();        
        $('.statusChange:checked').each(function() {
            var tmp = $(this).val();
            status_list.push(tmp);
            // alert(status_list.length)
;        });

        min_price= parseInt($('#buying_slider_min').val());
        max_price= parseInt($('#buying_slider_max').val());
        
   $.ajax
    ({
       type: "GET",
       url: "/viewingPosts/",
       data: {  "list": refine_list, "status": status_list , "min":min_price , "max":max_price},
       
       // , min_price, max_price 
       success: function(req)
       {
        // alert("success");
         $('#posts_result').html(req);
       }
    });

    });
  
   $('.statusChange').on('change', function() 
    {
     var refine_list = new Array();        
        $('.refiningSubchannels:checked').each(function() {
            var tmp = $(this).val();
            refine_list.push(tmp);
            // alert(refine_list.length)
;        });

          var status_list = new Array();        
        $('.statusChange:checked').each(function() {
            var tmp = $(this).val();
            status_list.push(tmp);
            // alert(status_list.length)
;        });

         min_price= parseInt($('#buying_slider_min').val());
        max_price= parseInt($('#buying_slider_max').val());

   $.ajax
    ({
       type: "GET",
       url: "/viewingPosts/",
       data: {  "list": refine_list, "status": status_list , "min":min_price , "max":max_price },
       success: function(req)
       {
        // alert("success");
         $('#posts_result').html(req);
       }
    });
    });

$('#buying_slider_min').change(function() {
    
    var min = parseInt($('#buying_slider_min').val());
    var max = parseInt($('#buying_slider_max').val());
    
    if (min > max) {
        $(this).val(max);
        // $(this).slider('refresh');
    }

    var refine_list = new Array();        
        $('.refiningSubchannels:checked').each(function() {
            var tmp = $(this).val();
            refine_list.push(tmp);
            // alert(refine_list.length)
;        });

          var status_list = new Array();        
        $('.statusChange:checked').each(function() {
            var tmp = $(this).val();
            status_list.push(tmp);
            // alert(status_list.length)
;        });

        min_price= parseInt($('#buying_slider_min').val());
        max_price= parseInt($('#buying_slider_max').val());
        

        $.ajax
    ({
       type: "GET",
       url: "/viewingPosts/",
       data: {  "list": refine_list, "status": status_list , "min":min_price , "max":max_price },
       success: function(req)
       {
        // alert("success");
         $('#posts_result').html(req);
       }
    });
});
$('#buying_slider_max').change(function() {
    var min = parseInt($('#buying_slider_min').val());
    var max = parseInt($(this).val());

    if (min > max) {
        $(this).val(min);
        // $(this).slider('refresh');
    }
    // alert(max);
    var refine_list = new Array();        
        $('.refiningSubchannels:checked').each(function() {
            var tmp = $(this).val();
            refine_list.push(tmp);
            // alert(refine_list.length)
;        });

          var status_list = new Array();        
        $('.statusChange:checked').each(function() {
            var tmp = $(this).val();
            status_list.push(tmp);
            // alert(status_list.length)
;        });

min_price= parseInt($('#buying_slider_min').val());
        max_price= parseInt($('#buying_slider_max').val());
        
$.ajax
    ({
       type: "GET",
       url: "/viewingPosts/",
       data: {  "list": refine_list, "status": status_list , "min":min_price , "max":max_price },
       success: function(req)
       {
        // alert("success");
         $('#posts_result').html(req);
       }
    });
});
});

</script>
<script type="text/javascript">
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
{% endblock %}