{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
        
<h4> Channels </h4>

<div> 
  
<div class="accordion" id="accordion2" style="background: #eee;">
  {% for i in all_channels %}

    <div class="accordion-group">
    <div class="accordion-heading" >
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#channel{{i.channel.id}} " id=" ChannelBar" value="{{i.Channel.id}}">
            {{i.channel.name}}
      </a>
      
    </div>
    
    <div id="channel{{i.channel.id}}" class="accordion-body collapse in">
      <div class="accordion-inner">
        
            {% for subchannel in i.subchannels_list %} 
          
          <div id="channel{{i.subchannel.id}}" class="accordion-body collapse in">
              <div class="accordion-inner">
                <p>
                <input onClick="posts_render({{subchannel.subchannel.id}});"  type="checkbox"  id="SubChannel_dropdown{{subchannel.subchannel.id}}" value="{{subchannel.subchannel.id}}">  

                {{subchannel.subchannel.name}} 

                </p>
      </a>
    </div>
  </div>

  {% endfor %}
      </div>
    </div>

    </div>
   {% endfor %}
</div>

</div>
</div>

    <!-- Reem- As  c3 , (a system) I should be able to provide  a refinement bar along while previwing the posts  
      this is a collapse method from bootstrap that helps in previing the channels and -->
<div  id= "mydiv"class="span10">

  <please select the subchannels you want to preview

    {% for i in posts_of_subchannels %}


    <li id ="post_id" >{{i.title}}</li>
  <!--   <li > {{i.Post.title}} </li> -->

    {% endfor%}
  </div>
</div>

<script type="text/javascript">



{% endblock %}