<html>
<head>
    {% load staticfiles %}
    <title>Channel</title>
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}" ></script>
    <script type="text/javascript" src="{% static "js/ViewSubChannel.js" %}"></script>
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"> --> 
</head>
<body>
<div align="left">
    {% if list_of_channels %}
    <h3>Channel</h3>
	<select id="Channel_dropdown">
    <option> Select The Channel Please</option>    
    {% for Channel in list_of_channels %}
    
    <option value="{{Channel.id}}">{{ Channel.name }}</option>
    {% endfor %} 
    </select>
    {% endif %}
    </div>
</div>

<div align="left">
    {% if list_of_subchannels %}
    <h3>The available sub channels are:</h3>
    <select id="subChannel_dropdown">   
    <option> Select The Sub channel Please</option>    
    {% for SubChannel in list_of_subchannels %}
    <option value="{{SubChannel.id}}">{{ SubChannel.name }}</option>
    {% endfor %} 
    </select>
    {% endif %}
</div>



