{% extends "base2.html" %}


{% block content %}
    <div class="login-wrapper">


    <div class="well-white bottom20px" style="width:300px; margin:0 auto;">
        <div class="page-header">
            <h1>Log in</h1>
        </div>
        <div class="padding20px form">
            <form form action="/logged/" method="POST" id="form" class="kissmetrics-login">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email:</label>
                    <div class="controls">
                        <input type="email" name="email" id="inputEmail" placeholder="Email address" autofocus =""/>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Password:</label>
                    <div class="controls">
                        <input type="password" name="password" id="inputPassword" placeholder="Password"/>
                    </div>
                </div>
                <div class="cf">
                    <div class="left">
                        <input type="submit" class="btn btn-success btn-large" value="Login">
                    </div>
                    <div class="right">
                        <a href="//app.gathercontent.com/forgotten" class="link-option">Forgot your password?</a>
                    <!-- </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
        </div>

        {% block script %}
    <script type="text/javascript">

       $(document).ready(function() {
            $('input:text, input:password').keyup(function() {
                if ($(this).val() !== "") {
                $('input:submit').removeAttr('disabled');
                    } else {
                $('input:submit').attr('disabled', 'true');
                }
    });
});
    </script>
    {% endblock%}


{% endblock %}



