{% extends "base.html" %}

{% load staticfiles %}


{% block content %}
{% if canpost %}
<button>addPost</button>
{% endif %}
<div>
  {{channel.name}}<br>
  {% if subchannels_list %}
  {% for subchannel in subchannels_list%}
  {{subchannel.name}}
  {% endfor %}
  {% endif %}

{{ret_subchannel.name}}
</div>


<div  class="clearfix masonry" 
style="
">



{% for post in post_list %}


  <div class="item masonry-brick" ><div class="thumbnail" >

   {% if post.picture %} 
      <img style="width: 300px;" src="{% static "img/post.png" %}" alt="{{post.id}}" />
    {% else %}
       <img style="width: 300px;" src="{% static "img/post.png" %}" alt="{{post.id}}" />
    {% endif %}

      <div class="repinLikeWrapper">

        <button type="button" onClick="interested({{post.id}});" class=" btn-inverse btn ShowModalButton Button primary Module primaryOnHover btn repinSmall" id="intrested_btn{{post.id}}" >
        <em></em><span class="accessibilityText"><em><i class="icon-white icon-tags"></i></em></span></button>
        
        <button data-text-unlike="Unlike" data-text-like="Like" type="button" class="btn btn-inverse Button Module likeSmall hasText btn" onclick="location.href='/showpost?post={{post.id}} '">
        <em></em><span class="buttonText"><em><i class="icon-external-link"></i></em></span></button>

        <!--twitter sharing`-->
        <a href="http://twitter.com/home?status={{post.title}}: {{post.description}}  http://127.0.0.1:8000/showpost/?post_id={{post.id}}" target="_blank"><img src="{% static "img/twitter-baloon.png" %}" width="35px" height="35px" alt="tweet this" title="tweet this"></a>
            
        <!--facebook sharing-->
        <!--picture={{post.picture1}}-->
        <a href="https://www.facebook.com/dialog/feed?
            app_id=461240817281750&
            link=http://127.0.0.1:8000/post/?post={{post.id}}&
            name={{post.title}}&
            caption={{post.description}}&
            description=&
            picture=http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Stick_Figure.svg/170px-Stick_Figure.svg.png&
            redirect_uri=https://peaceful-lake-7793.herokuapp.com" target="_blank">

            <img src="{% static "img/fb-baloon.png" %}" width="35px" height="35px" alt="share with facebook" title="share this with facebook"></a>    

      </div>
      

    <span class="priceValue">{{post.price }} EGP</span>
    Posted By: <a href="../profile/?user_id={{post.seller.id}}">{{post.seller.name}}</a> 
    {% if post.state == "New" %}
      <span class="label label-success StateLabel">New</span>  
      {% elif post.state == "Sold" %}
      <span class="label label-success StateLabel">Sold</span> 
      {% endif %}
<a href="/showpost?post={{post.id}}"><h4>{{post.title}}</h4></a>

<p class="stats colorless sysPinOnlyFriendsNeedRemove" style="padding-right:5px;padding-left:5px;">
  <span class="IntrestedCount" title="Likes"><em><i class="icon-bullhorn"></i></em>&nbsp;&nbsp;{{post.intersed_count}}</span> &nbsp;
    <span class="CommentsCount" title="Comments"> <em><i class="icon-comments-alt"></i></em>&nbsp;&nbsp;{{post.comments_count}}</span>&nbsp;&nbsp;&nbsp;
      <span class="QualityIndex" title="Post Quality"><em><i class="icon-bar-chart"></i></em>&nbsp;&nbsp;{{post.quality_index}}%</span>&nbsp;
 </p> 
       <p>
      <small class="text-info"><i class="icon-time"></i> {{ post.pub_date|timesince }}&nbsp;ago</small><br>
      <a href="/showuser?user={{post.user_id}} ">
     <small class="text-info"><i class="icon-user"></i>&nbsp;{{post.get_seller_name}}&nbsp;</small></a>
    </p>
</div>  




</div>


  

{% endfor %}
 
<!-- a script that handels the auto post order according to the windows size  -->
<script type="text/javascript">$(function(){
	var $container = $('#container');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.item',
    columnWidth : 240,
    isAnimated: true,
    isFitWidth: true,
  });
});
});

    function interested(id) {
    alert(id);
    $.ajax({
    url: "/intrested/",
    type: "POST",
    data: {
        "post_in" : id,
    }, 
    success: function(result) {
       $('#intrested_btn'+ id).removeClass('btn btn-info');
       $('#intrested_btn'+ id).addClass('btn btn-info disabled');
    }
});
}
</script>

<!-- a script that handels the ajax intrested button (currenty not working)  -->

</div>




{% endblock %}
