<html>
    <head>
        <title></title>
        {% load staticfiles %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/subscriptions.js" %}" ></script>
        <script type="text/javascript" src="{% static "js/custom.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "js/advancedsearch.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.masonry.min.js" %}"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <!-- <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen"> -->
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <!-- <link href="{% static "css/font-awesome.css" %}" rel="stylesheet"> -->
        <link href="{% static "css/zocial.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" media="screen">
        <link href="{% static "css/custom.css" %}" rel="stylesheet" media="screen">


        {% block headers %}
        {% endblock %}
        <style type="text/css">
            body {
            padding-top: 60px;
            padding-bottom: 40px;
            }
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" >
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" style="font-size:30; color:#2795F5" href="../main">Tager</a>
                    {% block nav %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block verification %}

          {% if check_ann_verified == True %}

            <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> please register, in order to use the site nomarly, here is a registeration {{ link|urlize }}
            </div> 

          {% endif %}
    

        
            {% if check_verified == False %}
                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Warning!</strong> please verify your email , in order to use the site nomarly ,{{ link|urlize }}
                </div>
            {% endif %}
        

        {% endblock %}
        <!-- Start main websiteBody Div -->
        <div class="container-fluid" style="padding-top: 1px;">
            <!-- Start TMP , Please remove me -->
            {% block content %}
            {% block script %}
            {% endblock %}
            <!-- USe this to add your stuff   -->
            {% endblock %}
            <script type="text/javascript">
                $.ajaxPrefilter(function(options, originalOptions, jqXHR) {
                if(!options.crossDomain) {
                  if(options.data) {
                    options.data += "&";
                  } else {
                    options.data = "";
                  }
                  options.data += "csrfmiddlewaretoken={{csrf_token}}";
                }
                });
            </script>
            <!-- End TMP , Please remove me -->
            <footer id = "footer">
                <p style = "display:inline" >&copy; sharesoft 2013</p>
                <a href="#aboutUs" data-toggle="modal" >About Us</a>
            </footer>
        </div>
        <!-- end main websiteBody Div -->-
        

            <div  id="aboutUs" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header" width ="1000">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1 id="myModalLabel" style = "text-align:center"><img src="{% static "img/tager-logos.png" %}"></h1>
                </div>
                <div class="modal-body">
                    <h3>About Tager:</h3>
                    <p>Tager Is the website built to enhance online marketing transactions in Egypt Its goal is to electronify transactions in Egypt !!!</p>
                    <h3>About ShareSoft:</h3>
                    <p>Sharesoft is a group of dedicated cool young developers who were put together in our beautiful UNI the GUC, to work on software developement. Tager is our first product and soon there will be more to come :)</p>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Back</button>
                    </div>
                </div>
            </div>
        
    </body>
</html>
<style type="text/css">
    #footer {
    text-align: center;
    margin-left: -100;
    border-top: solid thin; 
    position:absolute;
    width:100%;
    height:60px;   /* Height of the footer */
    }
</style>