{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<title> Welcome to my test page </title>
{% if object_list %}
{% for post in object_list %}
<div id="{{post.id}}">

<div class="photodiv">
<img src="{% static "img/SLS.jpg" %}" width="200" height="200" alt="Hi!" /></div>

<div class="description">
<h2 id = "postID{{post.id}}" name = {{post.id}} value = {{post.id}} >Post ID: {{post.id}} </h2>
<h3>Posted BY: {{post.user_id}}</h3>
<p> Posted On: {{post.pub_Date|date:"Y-m-d"}} <br>
	Post reports: {{post.no_of_reports}} <br>
	Post State: {{post.state}} <br>
	
</p>
<button id = "report_button" onCLick= "report();">Report</button>
</div>

<!-- <div class = "reportDIV" style="visibility:hidden"> -->
<div class = "reportDIV" style="display:none">

<form class="reportForm" name="input" action="" method="POST">
{% csrf_token %}

<div class="reportReasons">	
	<label class="radio">
  		<input type="radio" name="optionsRadios" id="optionsRadios1" value="offensive" checked>
  			Offensive
	</label>
	<label class="radio">
 		<input type="radio" name="optionsRadios" id="optionsRadios2" value="harrasment">
  			Harrasment
	</label>
	<label class="radio">
  		<input type="radio" name="optionsRadios" id="optionsRadios1" value="copyright">
  			Copyright
	</label>
</div>
<button id = "postID" onCLick ="reportPost({{post.id}});" type="button">Submit Report</button>
</form> 
<button onClick = "cancelReport();">Cancel Report</button>
</div>
</div>
{% endfor %}

{% else %}
<h1>No Post Avaliable</h1>
<h2>Please try again later !! :)</h2>

{% endif %}

{% endblock %}