{% extends "base.html" %}
{% load staticfiles %}  
{% block content %}
<div>
	<h3> Name: {{ user.name}} </h3>
	<h3> Birth date: {{ user.date_Of_birth }} </h3>


	<h3> Phone number: {{ user.phone_number}} 
    {% if not user.private_number %}
      {% ifequal request.user user %}
      <button id="hidephone" class="btn btn-success btn-small" onClick="change_number_toprivate()" >Set to private</button>
      {% endifequal %}
    {% endif %}
    {% if user.private_number %}
      {% ifequal request.user user %}
      <button id="publicphone" class="btn btn-success btn-small" onClick="change_number_topublic()" >Set to publice</button></h3>
      {% endifequal %}
    {% endif %}



	<h3> Works at: {{ user.works_at}}
    {% if not user.private_work %}
    {% ifequal request.user user %}
    <button id="hidework" class="btn btn-success btn-small" onClick="change_work_toprivate()" >Set to private</button>
    {% endifequal %}
    {% else %}
    {% ifequal request.user user %}
    <button id="publicwork"  class="btn btn-success btn-small" onClick="change_work_topublice()" >Set to publice</button></h3>
    {% endifequal %}
    {% endif %}
</div>
<script type="text/javascript">	
function change_number_toprivate(){
  var number = 'false'
  $.ajax({
    url: '/private_number/',
    type: "POST",
    data:{
    'Number' : number,
    },
    success:function(result){
        $('#hidephone').hide();
        $('#publicphone').show();
        alert("this field has been set to private");
      },
    error:function(result){
      alert("Sorry, failed to change you account type");
    },
  });
}
function change_number_topublic(){
  var number1 = 'true'
  $.ajax({
    url: '/public_number/',
    type: "POST",
    data:{
    'Number1' : number1,
    },
    success:function(result){
      alert("jjsjjss");
        
        $('#publicphone').hide();
        $('#hidephone').show();
        alert("this field has been set to public");
      },
    error:function(result){
      alert("Sorry, failed to change you account type");
    },
  });
}
function change_work_toprivate(){
  var work = 'false'
  $.ajax({
    url: '/private_work/',
    type: "POST",
    data:{
    'Work' : work,
    },
    success:function(result){
        $('#hidework').hide();
        $('#publicwork').show();
        alert("this field has been set to private");
      },
    error:function(result){
      alert("Sorry, failed to change you account type");
    },
  });
}
function change_work_topublice(){
  var work1 = 'true'
  $.ajax({
    url: '/public_work/',
    type: "POST",
    data:{
    'Work1' : work1,
    },
    success:function(result){
        $('#hidework').show();
        $('#publicwork').hide();
        alert("this field has been set to public");
      },
    error:function(result){
      alert("Sorry, failed to change you account type");
    },
  });
}
</script>
{% endblock %}