

{% extends "base2.html" %}
       <!--      {% block mahmoud %}
                

            {% endblock %} -->


{% block content %}
<form action="" method="post">
{% csrf_token %}

<div class = "header" >
<h2> Create your account </h2> 

<style type="text/css">
      .header {
        color: #333;
        font-family: 'Georgia';
        font-size: 35px;
        text-align: center;
}
      }
    </style>
</div>
<center>
<div class = "registerationForm">
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}
<div class="register_div">
        {% if form.name.errors %}<p class="error">{{ form.name.errors }}</p>{% endif %}
       
        <p>{{ form.name }}</p>
</div>
<div class="register_div">
        {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
        <p>{{ form.email }}</p>
</div>

<script>

function passwordStrength(password)

{
    
     

        var desc = new Array();

        desc[0] = "Very Weak";

        desc[1] = "Weak";

        desc[2] = "Better";

        desc[3] = "Medium";

        desc[4] = "Strong";

        desc[5] = "Strongest";

    

        var score   = 0;
       
    
        if (password.length <=1) 
           $("password").click(function(){
            $(".hide").hide();
            });
        else 
            $(".hide").show();

        //if password bigger than 6 give 1 point

        if (password.length > 6) score++;



        //if password has both lower and uppercase characters give 1 point      

        if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;



        //if password has at least one number give 1 point

        if (password.match(/\d+/)) score++;



        //if password has at least one special caracther give 1 point

        if ( password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;



        //if password bigger than 12 give another 1 point

        if (password.length > 12) score++;
        
        
         

         document.getElementById("passwordDescription").innerHTML = desc[score];

         document.getElementById("passwordStrength").className = "strength" + score; 

}
</script>

<div id = "pass" class="register_div">

<script>
  $('#pass').popover({
    title: 'password!',
    content: 'password must be at least 6 characters long, with at least one lower case and at least one uppercase !'
  })

</script>
 


        {% if form.password1.errors %}<p class="error">{{ form.password1.errors }}</p>{% endif %}
         <!-- <input type="password" name="pass" id="pass" onkeyup="passwordStrength(this.value)" /></p> -->
        <p>{{ form.password1 }}</p>
       
         <label class ="hide " for="passwordStrength">Password strength </label>

                        <div class = "hide" id="passwordDescription">Password not entered</div>

                        <div class = "hide" id="passwordStrength" class="strength"></div>
                 

<div class="register_div">
        {% if form.password2.errors %}<p class="error">{{ form.password2.errors }}</p>{% endif %}
       
        <p>{{ form.password2 }}</p> 
<p>
  </div >
                       

                        <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LdSucISAAAAADc_huFvVv0fCCEfcVJNvbqeY-TN">
                         

                        </script> 

                      

                           {% if form.captcha.errors %}<p class="error">{{ form.captcha.errors }}</p>{% endif %}
                            <p>{{ form.captcha }}</p>


                        <p><button class = "btn btn-warning " type="submit" alt="register" />Create Account </button></p>
                        </div>

                </p>
            </div>



</div>
</form>

</center>
{% endblock %}
